<!--The content below is only a placeholder and can be replaced.-->
<div class=" mdl-js-layout conte-all">
  <header class="mdl-layout__header ">
 
 
    <div class="mdl-layout__header-row"> 
      <div class="nav-header-logo">
        <a class="nav-logo">
          <!-- Logo -->
          <img src="../assets/img/unicaucalogoB.png" width="70" height="70" alt="?">
          <!-- Title -->
          <span class="nav-title">
            Universidad del Cauca
          </span>
        </a>
      </div>
 
 
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">UNICAUCA</a>
       
      <div class="btn-group" dropdown>       
          <button id="button-basic" dropdownToggle type="button"
           class="btn btn-primary dropdown-toggle  mdl-js-button mdl-button--raised mdl-button--colored btn-login"  aria-controls="dropdown-basic">
           Login
              <i class="fas fa-user-circle"></i>
      </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item"  (click)="login()" href="#">Iniciar Sesion</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">user</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Informacion</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
 
  <!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
 <div class=" mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation menu-navegation">
        <a class="mdl-navigation__link" [routerLink]="['/biblioteca']">
            <i class="fas fa-book"></i>
            Biblioteca Virtual</a>
        <a class="mdl-navigation__link" [routerLink]="['/registro']">
            <i class="fas fa-user-plus"></i>
            Registrarse</a>
        <a class="mdl-navigation__link" [routerLink]="['/reserva']">
            <i class="fas fa-bookmark"></i>
            Reservas</a>
        <a class="mdl-navigation__link" [routerLink]="['/user']">
            <i class="fas fa-info-circle"></i>
            Informacion</a>
        <a class="mdl-navigation__link"[routerLink]="['/reservas']">
            <!-- <i class="fas fa-hand-holding-usd"></i> -->
            <i class="fas fa-dollar-sign"></i>
            Multas</a>
        <a class="mdl-navigation__link" [routerLink]="['/']">
            <i class="fas fa-clock"></i>
            Horarios</a>
      </nav>
    </div>    
  
  </div>
  <main class="conte-pages" >
     <div class="">
        <router-outlet></router-outlet>
     </div>
    
 </main> 
  
    </div>
  



    
 
 
 


  