<p>
  reserva works!
</p>


<div class="container" *tdLoading="'reserva'">
  <form *ngIf="reserva" [formGroup]="reservaForm" (ngSubmit)="save()">
    <mat-card>
      <mat-card-header>Reserva TuLibro</mat-card-header>


      <mat-card-content>
        <div class="example-container">

          <!-- <mat-form-field>
            <input name="user" class="input-name" matInput type="text" placeholder="User name" formControlName="userId">
            <mat-error *ngIf="reservaForm.get('userId').touched && reservaForm.get('userId').invalid">
            </mat-error>
          </mat-form-field> -->
          <mat-form-field>

            <mat-option [value]="user.id" *ngFor="let user of users">Bienvenida {{user?.name}}</mat-option>
            <input name="userId" placeholder="UserName" matInput type="text" placeholder="userId"
              formControlName="userId">
          </mat-form-field>

          <mat-form-field>
            <input name="book" matInput type="text" placeholder="Book" formControlName="book">
            <mat-error *ngIf="reservaForm.get('book').touched && reservaForm.get('book').invalid">
              Date is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="dateReserva" formControlName="dateReserva"
              (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
              [value]="date.value">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          

          <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="dateReserva" formControlName="dateReserva"
              (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="reservaForm.get('dateReserva').touched && reservaForm.get('dateReserva').invalid">
              Date is required
            </mat-error>
          </mat-form-field> -->
          <!-- <mat-form-field>
            <input name="select" placeholder="Select" type="number" matInput formControlName="selectedReserva">
           
          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Dias de reserva</mat-label>
            <select matNativeControl [(ngModel)]="selectedReserva" name="day" formControlName="selectedReserva">
              <option value="" selected></option>
              <option *ngFor="let day of days" [value]="day.viewValue">
                {{day.viewValue}}
              </option>
            </select>
            <!-- {{selectedReserva}} -->
          </mat-form-field>

          

          <mat-form-field>
            <input matInput [matDatepicker]="picker3"  placeholder="dateEntrega" formControlName="dateEntrega" [value]="date.value">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <h1>{{date2}}</h1>

          <div class="total">
            DateNew : {{dateN }}
            <div *ngFor="let e of events">{{e}}</div>
          </div>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button type="button" mat-button (click)="delete()" *ngIf="reserva.id">Delete</button>
        <button type="button" mat-button (click)="cancel()">Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="reservaForm.invalid">Save</button>
      </mat-card-actions>

    </mat-card>
  </form>
</div>

<!-- <li>
            <mat-form-field>
              <input name="selected"  matInput placeholder="User Reserva" formControlName="selectedReserva" type="number"  value="" required>
            </mat-form-field>        
          </li> -->
<!-- <li>
            <mat-form-field>
              <input name="dateEntrega"  matInput placeholder="date2" formControlName="dateEntrega" type="text"  value="" required>
            </mat-form-field>        
          </li> -->

<!--<li>

            <mat-form-field>
              <input name="fechaReserva" matInput [matDatepicker]="picker" placeholder="Fecha Reserva" [formControl]="serializedDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            !-- <div class="example-events">
              <div *ngFor="let e of events">{{e}}</div>
            </div> --
          </li>

           <li>
            <mat-form-field>
              <mat-label>Dias de reserva</mat-label>
              <select matNativeControl [(ngModel)]="selectedReserva"  name="day" formControlName="selectedReserva">
                <option value="" selected></option>
                <option *ngFor="let day of days" [value]="day.value">
                  {{day.viewValue}}
                </option>
              </select>
            </mat-form-field>
             <p> Reserva por: {{selectedReserva}} </p> 
          </li>
          <li> 
             <mat-form-field>
              <input name="fechaReserva" matInput [matDatepicker]="picker2" placeholder="Fecha Reserva" formControlName="dateEntrega" [formControl]="serializedDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>           
            
            -- <p> Reserva por: {{selectedReserva}} </p> --
          </li> -->
<!-- <li>
            <button mat-raised-button (click)="openDialog()">Verificar Informacion</button>
          </li> -->
<!-- <li *ngIf="name">
            You chose: <i>{{name}}</i>
          </li> 
        </ol>-->




<!-- {{reserva | json}} -->


<!-- </div>
      <mat-card-actions>
        <button type="button" mat-button (click)="delete()" *ngIf="reserva.id">Delete</button>
        <button type="button" mat-button (click)="cancel()">Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="reservaForm.invalid">Save</button>
      </mat-card-actions>

    </mat-card>
  </form>
</div> -->